<div class="loginContainer">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <div class="avatarFrameoffline marto15 marbo15">
          <img src="assets/img/generic_avatar.png" class="avatarImage img-fluid" alt="avatar">
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="center">
          <h3>Iniciar Session</h3>
        </div>
        <p *ngIf="operation == 'register'" >¿Ya tienes cuenta? Haz <a (click)="operation = 'login'">Login</a></p>
        <p *ngIf="operation == 'login'" >¿No tienes cuenta? <a (click)="operation = 'register'">Registrate</a></p>
        <div class="borderedContainer">
          <input [(ngModel)]="email" type="email" class="form-control marbo15" placeholder="Ingrese su email">
          <input [(ngModel)]="password" type="password" class="form-control marbo15" placeholder="Ingrese su contraseña">
          <input [(ngModel)]="nick" *ngIf="operation == 'register'" type="text" class="form-control marbo15" placeholder="Ingrese su nick">
        </div>
        <div class="center marto15">
          <a (click)="login()" *ngIf="operation == 'login'" class="btn btn-primary">Iniciar Session</a>
          <a (click)="register()" *ngIf="operation == 'register'" class="btn btn-success">Registrarme</a>
        </div>
      </div>
    </div>
  </div>
</div>
